@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* RESET THE WEBSITE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family:
    "Poppins", sans-serif, Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}

:root {
  --backgroundColor: #100f0f;
  --formRegistrationColor: #0a0909;
  --color: #2ced13;
}

body {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColor);
}

/* REGISTER FORM */

.form-container {
  min-width: calc(100px + 250px);
  background-color: var(--formRegistrationColor);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--color);
  box-shadow: 0 0 10px var(--color);
}

.register-heading {
  text-align: center;
  padding: 0.5rem 0;
  color: var(--color);
  font-size: 1.5rem;
}

input {
  padding: 1rem;
  margin: 0.4rem 0;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--color);
}

input::placeholder {
  color: #fff;
  font-size: 1rem;
}

input:focus {
  box-shadow: 0 0 10px var(--color);
  transition: box-shadow 0.2s ease;
}

button {
  margin-top: 0.4rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--color);
  transition:
    box-shadow 0.2s ease,
    transform 0.2s ease;
  color: #000;
}

button:hover {
  box-shadow: 0 0 10px var(--color);
  transform: translateY(-2px);
}

/* LOGIN FORM */

.login-container {
  min-width: calc(100px + 250px);
  background-color: var(--formRegistrationColor);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--color);
  box-shadow: 0 0 10px var(--color);
}

.login-heading {
  text-align: center;
  padding: 0.5rem 0;
  color: var(--color);
  font-size: 1.5rem;
}

/* DASHBOARDS */

.dashboard-container {
  min-width: calc(100px + 250px);
  background-color: var(--formRegistrationColor);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--color);
  box-shadow: 0 0 10px var(--color);
}

.login-register-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.dashboard-heading {
  text-align: center;
  padding: 0.5rem 0;
  color: var(--color);
  font-size: 1.5rem;
}

.register-link,
.login-link {
  padding: 1rem;
  background-color: transparent;
  border: 2px solid var(--color);
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.2s linear, box-shadow 0.2s linear;
}

.register-link:hover,
.login-link:hover {
  background-color: var(--color);
  color: #000;
  box-shadow: 0 0 10px var(--color);
}

.main-heading {
  color: #fff;
}

.main-container {
  text-align: center;
}